/**/
body {
  background-color: aqua;
}
h1 {
  background-color: yellow;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

#awa{
  max-width: 180px;
  height: auto;
  top: 50%;
}

#haitatsu{
  max-width: 170px;
  height: auto;
  top: 50%;
}

#message {
  border-style: solid;
  border-color: grey;
}
